$color-white: #FFFFFF; // Белый
$color-turquoise: #4AF6CD; // Берюзовый
$color-dark: #171919; // черный (для bg body)
$color-black: rgba(#0F1010, .7); // черный (для slider-dots__content)
$color-dark-mask: #1C2121; // черный (маска для slider surf
$font-fira: 'FiraSans';
